.wraper{display:block !important}
.wraper::before {
    content: "This page works best with JavaScript enabled";
    background: #000;
    position: absolute;
    bottom: 0;
    z-index: 9999999;
    color: #fff;
    width: 100%;
    text-align: center;
}

#spiner {
    display: none
}

ul.exp.hid li a:focus-within+ul.exp.hid {
    display: block !important
}

ul.exp.hid li:focus-within ul {
    display: block
}

.add-button {
    display: none
}